<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="my_app Tests" bootstrap="tests/autoloadTest.php">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src/</directory>
        <exclude>
            <file>src/autoload.php</file>
        </exclude>
      </whitelist>
    </filter>    
</phpunit>