<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="my_app Tests" bootstrap="">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">../src/</directory>
        <exclude>
            <file>autoload.php</file>
        </exclude>
      </whitelist>
    </filter>    
</phpunit>